#top {

   height: 178px;
}
#nasalogo { 
   width: 204px;
   float: left;
}
#nasatitle {
    margin-top: 50px;
    float: left;
}
#bottom {
    clear: both;
}
#parameters {	
    float: left;
    margin: 20px;
}
#content {
    float: left;
}
#vars { 
    overflow: auto;
    max-height: 70%;
    margin-top: 20px;
}
#comparison {
    float: left;
    height: 50%;
    width: 60%;
    display: inline-block;
}
#compare {
    display:inline-block;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;    
}
.filterValues {
    margin-bottom: 10px;
}
.variables {
    border-bottom: solid 1px #d6d6d6;
    padding: 8px 0px 5px 0px;
    vertical-align: top;
}
.wordwrap {
    width: 20em;
    word-wrap: normal|break-word;
}
.indented {
    padding-left: 2em;
}
tr.alt td {
    background: #aad4ff;
}
tr.org td {
    background: #ffffff;
}