#parameters {	
    float: left;
    margin: 20px;
}
#content {
    float: left;
}
#variables { 
    height: 40%;
    display: inline-block;
    overflow: auto;
}
#comparison {
    float: left;
    height: 50%;
    width: 60%;
    display: inline-block;
}
#compare {

}
.filterValues {
    margin-bottom: 10px;
}
.variables {
    border-bottom: solid 1px #d6d6d6;
    padding: 8px 0px 5px 0px;
    vertical-align: top;
}
.wordwrap {
    width: 20em;
    word-wrap: normal|break-word;
}
.indented {
    padding-left: 2em;
}