#parameters {	
    float: left;
    margin: 20px;
}
#variables { 
    float: left;
    display: inline-block;
    height: 90%;
    width: 60%;
    margin: 20px;
    overflow: auto;
}

.filterValues {
    margin-bottom: 10px;
}
.variable {
    border-bottom: solid 1px #d6d6d6;
    padding: 8px 0px 5px 0px;
    vertical-align: top;
}
.wordwrap {
    width: 20em;
    word-wrap: normal|break-word;
}
.indented {
    padding-left: 2em;
}